@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #135bec;
  --color-background-dark: #101622;
  --color-background-light: #f6f6f8;
}

body {
  @apply bg-background-light dark:bg-background-dark font-sans text-slate-900 dark:text-slate-100 antialiased;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
